<div class="row">
  <div class="left-bar">
    <!--   -->
    <table>
      <!-- table header for products -->
      <tr style="text-align: center;">
        <td style="width: 40%;">Products</td>
        <td style="width: 10%;">Price</td>
        <td style="width: 10%;">Quantity</td>
        <td style="width: 30%;">Total</td>
      </tr>
    </table>

    <div class="product-list-container">
      <div class="selected-products-0" *ngIf="productList.size==0">
        <span>
          THERE ARE NO PRODUCTS
        </span>
      </div>

      <div class="selected-products" *ngIf="productList.size>0">
        <table>
          <tr *ngFor="let product of productList| keyvalue">
            <td style="width: 5%;"><img style="width: 16px;height: 16px;" src="assets/icons/remove (1).svg" alt=""
                (click)="deleteProduct(product.key)"> </td>
            <td style="width: 35%;">{{product.key.name}}</td>
            <td style="width: 10%;">{{product.key.price}}</td>
            <td style="width: 10%;"> <span (click)="deleteProduct(product.key)"> <img style="width: 10px;height: 10px;"
                  src="assets/icons/remove.svg" alt=""> </span> {{product.value}} <span
                (click)="addProduct(product.key)"><img style="width: 10px;height: 10px;" src="assets/icons/plus.svg"
                  alt=""></span></td>
            <td style="width: 30%;">{{product.key.price * product.value}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="sub-total">
      <table style="border: 1px solid #e9e9e9;border-collapse: collapse;">
        <tr style="border: 1px solid #e9e9e9;">
          <td style="width: 40%;background-color: #f5f5f5;">SubTotal</td>
          <td style="width: 60%; background-color: white;">
            <span>{{subTotal}} EUR</span><span style="float: right;">{{items}}
              Items</span>
          </td>
        </tr>

        <tr style="border: 1px solid #e9e9e9;">
          <td style="width: 40%;background-color: #f5f5f5;">VAT tax</td>
          <td style="width: 60%; background-color: white;">
            <span>{{vatPercentage}}%</span><span style="float: right;">{{vat}}
              EUR</span>
          </td>
        </tr>

        <tr style="border: 1px solid #e9e9e9;">
          <td style="width: 40%;background-color: #f5f5f5;">Discount</td>
          <td style="width: 60%; background-color: white;">
            {{discountPercentage}}% <span style="float: right;"> {{discount}} EUR</span>

          </td>
        </tr>

        <tr style="border: 1px solid #e9e9e9;">
          <td style="width: 40%;background-color: #f5f5f5;">Total</td>
          <td style="width: 60%; background-color: white;"><span style="color: green;">{{total}} EUR</span></td>
        </tr>
      </table>
    </div>

    <div class="row">
      <div class="footer-button" style="background-color: #e74c3c ;" (click)="cancelSale()">CANCEL SALE</div>
      <div class="footer-button" style="background-color: #2ccc71;" (click)="process()">PROCESS SALE</div>
    </div>

  </div>
  <div class="right-bar">
    <div class="row">
      <div *ngFor="let product of data; let i = index" class="product" [ngClass]="{six:multipleSix(i+1)}">
        <div class="overlay">
          <p class="price">{{product.price}} EUR</p>
          <p class="des">{{product.description}}</p>
        </div>
        <div class="image" (click)="addProduct(product)">
          <img class="image" src="assets/images/{{product.image}}" alt="">
        </div>
        <div class="description">{{product.name.toUpperCase()}}</div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span>Reciept</span>
    </div>
    <div class="modal-body">
      <div style="text-align: center;">
        <span>
          Sale No..:.:{{saleNo}}
        </span>
      </div>
      <span>Date: {{date}}</span>
      <div>
        <table style="border-collapse: collapse; width: 100%;">
          <tr style="border-bottom: 1px solid #e9e9e9;">
            <td style="width: 10%;">#</td>
            <td style="width: 40%;">Products</td>
            <td style="width: 30%;">Quantity</td>
            <td style="width: 20%;">SubTotal</td>
          </tr>
          <tr *ngFor="let product of productList|keyvalue;let i = index">
            <td style="width: 10%;">{{i+1}}</td>
            <td style="width: 40%;">{{product.key.name}}</td>
            <td style="width: 30%;">{{product.value}}</td>
            <td style="width: 20%;">{{product.key.price * product.value}} INR
            </td>
          </tr>
          <tr style="border-bottom: 1px solid #e9e9e9;border-top: 1px solid #e9e9e9;margin-top: 10px;">
            <td style="width: 30%">Total Items</td>
            <td style="width: 20%">{{items}}</td>
            <td style="width: 20%;">Total </td>
            <td style="width: 30%">{{total}} INR</td>
          </tr>
          <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">Discount</td>
            <td style="width: 25%;">{{discountPercentage}}%</td>
          </tr>
          <tr style="border-top: 1px solid #e9e9e9;">
            <td style="width: 20%;"></td>
            <td style="width: 20%;"></td>
            <td style="width: 30%;">VAT</td>
            <td style="width: 30%;">{{vatPercentage}}%</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="modal-footer" (click)="closeModal()">
      <hr>
      <div class="close"> Close
      </div>
    </div>
  </div>
</div>
