/* You can add global styles to this file, and also import other style files */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.left-bar {
    flex: 34%;
    background-color: #ecf0f1;
    border-radius: 2px;
    padding: 10px;
    overflow-y: scroll;
}

.right-bar {
    flex: 60%;
    background-color: #ecf0f1;
    margin-left: 5px;
    border-radius: 2px;
    padding: 15px;
    overflow-y: scroll;
    height: 90%;
    height: 35em;

}

.btn-succ {
    color: #2ccc71;
}

.btn-cancel {
    color: #e74c3c;
}

.product {
    // flex: 10%;
    // margin-right: 5%;
    border-radius: 5px;
    background-color: #2ccc71;
    width: 80px;
    height: 90px;
    margin-top: 15px;
    margin-right: 50px;
}

.image {
    width: inherit;
    height: inherit;
    border-radius: 5px;

}

.six {
    margin-right: 25px !important;
}

.description {
    position: relative;
    bottom: 85px;
    text-align: center;
    font-size: 10px;
    word-wrap: break-word;
    color: white;
}

.overlay {
  position: relative;
  // top: 0;
  bottom: 101px;
  // left: 0;
  // right: 0;
  // height: 100%;
  // width: 100%;
  width: 80px;
  height: 90px;
  opacity: 0;
  border-radius: 5px;
  transition: .5s ease;
  background-color: #2ccc71;
}

.product:hover .overlay {
  opacity: 1;
}

// .product:hover .overlay .description{
//   opacity: 1;
// }
